html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, arial;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.066em;
  cursor: url('../assets/favicon/favicon-32x32.png') 16 16, default;
}

a {
  color: black;
  text-decoration: none;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

@keyframes fade-in-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(10%);
  animation: fade-in-up 0.33s forwards;
}

@keyframes fade-in-down {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  opacity: 0;
  transform: translateY(-10%);
  animation: fade-in-down 0.33s forwards;
}

.block {
  display: block;
}
.inline {
  display: inline;
}
.table {
  display: table;
}
.inline-table {
  display: inline-table;
}
.table-cell {
  display: table-cell;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}

#nav {
  top: 0;
  left: 0;
  z-index: 5;
  text-transform: uppercase;
  font-style: italic;
  animation-delay: 1s;
}

#nav ul {
  padding: 1em;
  margin: 0;
  list-style-type: none;
}

main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#cont {
  min-height: 600px;
  padding-top: 100px;
  box-sizing: border-box;
  height: calc(100% - 60px);
  width: 100%;
}

#cr_logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 30px 0;
  z-index: 1;
  animation-delay: 1s;
}
#cr_logo img {
  width: 90%;
  max-width: 300px;
}

#cr_portrait {
  z-index: 0;
  width: 40%;
  height: 100%;
  flex: 1;
  order: 3;
  text-align: center;
}
#cr_portrait img {
  margin: auto;
  height: 95%;
  transform: translate(0, -4vw);
}

#media_box {
  text-align: center;
  text-transform: uppercase;
  width: 40%;
  order: 1;
  white-space: nowrap;
  align-self: center;
  animation-delay: 0.33s;
}

#media_box .spotify {
  max-width: 320px;
  padding: 30px 0;
  margin: 0 auto;
}

#media_box .spotify img {
  width: 100%;
  margin-bottom: 5px;
}

#mail_box {
  width: 20%;
  min-width: 200px;
  order: 2;
  align-self: flex-end;
  animation-delay: 0.66s;
  font-size: 14px;
}
#mc_embed_signup {
  vertical-align: bottom;
}
#mc_embed_signup p {
  padding-bottom: 20px;
}
#mc_embed_signup form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  background: transparent;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 1.33em 0;
  font-size: 1em;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  text-transform: uppercase;
  border-radius: 0;
  outline: none;
  font-style: italic;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
    opacity: 1;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity:  1;
   font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity:  1;
   font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
   font-style: italic;
}
#mc_embed_signup form input[type="submit"] {
  display: none;
  margin: 5px auto 0;
  background: none;
  cursor: pointer;
  transition: all 0.33s ease;
  font-style: normal;
}
#mc_embed_signup form input[type="submit"]:hover {
  background: black;
  color: white;
}

footer {
  display: table;
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10%);
  animation: fade-in-up 0.33s 1s forwards;
}

footer .table-cell {
  width: 50%;
}

#built_by_us {
  font-size: 0.8em;
  padding-left: 40px;
  text-transform: uppercase;
}

#social_box {
  padding-right: 40px;
}

#social_box .icon {
  width: auto;
  height: auto;
  max-width: 18px;
  max-height: 18px;
  margin: 0 4px;
  fill: red;
}

@media screen and (max-width: 768px) {
  main {
    height: auto;
  }
  #cont {
    height: auto;
    display: block!important;
  }
  #cr_logo {
    padding-bottom: 40px;
    opacity: 1;
    transform: translateY(0);
    animation: none;
  }
  #cr_portrait {
    padding-top: 20px;
    width: auto;
    display: block;
    text-align: right;
    opacity: 1;
    transform: translateY(0);
    animation: none;
  }
  #cr_portrait img {
    transform: translate(30px, 0);
    top: auto; right: auto;
    left: 10%;
    min-width: none;
    width: 400px;
  }
  #media_box {
    padding: 60px 0;
    width: 100%;
    opacity: 1;
    transform: translateY(0);
    animation: none;
  }
  #media_box .table-cell {
    padding: 0;
  }
  #media_box .spotify {
    width: 90%;
    max-width: 400px;
    transform: none;
  }
  #mail_box {
    width: 100%;
    padding-bottom: 40px;
    opacity: 1;
    transform: translateY(0);
    animation: none;
  }
  footer {
    display: flex;
    flex-flow: column;
    opacity: 1;
    transform: translateY(0);
    animation: none;
    padding-bottom: 1em;
  }
  footer .table-cell {
    display: block;
  }
  #built_by_us {
    order: 2;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  #social_box {
    order: 1;
    padding: 0 0 0.5em;
    text-align: center;
    width: 100%;
  }
  #social_box .icon {
    max-width: 20px;
    max-height: 20px;
    margin: 0 5px;
  }
}

.loading * {
  display: none;
}
