html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, arial;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.066em;
  cursor: url('../assets/favicon/favicon-32x32.png') 16 16, default;
}

a {
  color: black;
  text-decoration: none;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes fade-in-up {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-up {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-animation: fade-in-up 0.33s forwards;
          animation: fade-in-up 0.33s forwards;
}

@-webkit-keyframes fade-in-down {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fade-in-down {
  opacity: 0;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-animation: fade-in-down 0.33s forwards;
          animation: fade-in-down 0.33s forwards;
}

.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.table {
  display: table;
}
.inline-table {
  display: inline-table;
}
.table-cell {
  display: table-cell;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}

#nav {
  top: 0;
  left: 0;
  z-index: 5;
  text-transform: uppercase;
  font-style: italic;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#nav ul {
  padding: 1em;
  margin: 0;
  list-style-type: none;
}

main {
  height: calc(100% - 160px);
  padding: 100px 0 60px;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 500px;
}

#cont {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

#cr_logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 40px 0;
  z-index: 1;
  top: 0; left: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#cr_logo img {
  width: 90%;
  max-width: 360px;
}

#cr_portrait {
  z-index: 0;
  width: 40%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  text-align: center;
}
#cr_portrait img {
  height: 100%;
  -webkit-transform: translate(0, -60px);
          transform: translate(0, -60px);
}

#media_box {
  text-align: center;
  text-transform: uppercase;
  width: 40%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  white-space: nowrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation-delay: 0.33s;
          animation-delay: 0.33s;
}

#media_box .cta {
  display: none;
}

#media_box .spotify {
  max-width: 300px;
  margin: 0 auto;
}

#media_box .spotify img {
  width: 100%;
  margin-bottom: 5px;
}

#mail_box {
  width: 20%;
  min-width: 200px;
  padding: 0 1em;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
  font-size: 14px;
  font-style: italic;
}
#mc_embed_signup {
  vertical-align: bottom;
}
#mc_embed_signup p {
  padding-bottom: 15px;
}
#mc_embed_signup form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  background: transparent;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 1.33em 0;
  font-size: 1em;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  text-transform: uppercase;
  border-radius: 0;
  outline: none;
  font-style: italic;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
    opacity: 1;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity:  1;
   font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity:  1;
   font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
   font-style: italic;
}
#mc_embed_signup form input[type="submit"] {
  display: none;
  margin: 5px auto 0;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
#mc_embed_signup form input[type="submit"]:hover {
  background: black;
  color: white;
}

footer {
  display: table;
  height: 60px;
  width: 100%;
  bottom: 6px;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-animation: fade-in-up 0.33s 1s forwards;
          animation: fade-in-up 0.33s 1s forwards;
}

footer .table-cell {
  width: 50%;
}

#built_by_us {
  font-size: 0.8em;
  padding-left: 40px;
  text-transform: uppercase;
}

#social_box {
  padding-right: 40px;
}

#social_box .icon {
  width: auto;
  height: auto;
  max-width: 18px;
  max-height: 18px;
  margin: 0 4px;
  fill: red;
}

@media screen and (max-width: 768px) {
  #nav {
    position: relative!important;
    font-size: 0.8em;
    -webkit-animation: none;
            animation: none;
    opacity: 1;
  }
  #nav ul {
    display: block;
    text-align: center;
  }
  #nav ul li {
    display: inline;
    margin: 0 10px;
  }
  main {
    height: auto;
    padding: 0 0 60px;
  }
  #cont {
    height: auto;
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  #cr_logo {
    padding: 30px 0 0;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    position: relative!important;
    -webkit-animation: none;
            animation: none;
  }
  #cr_portrait {
    padding-top: 20px;
    width: auto;
    display: block;
    text-align: right;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation: none;
            animation: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #cr_portrait img {
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
    top: auto; right: auto;
    left: 10%;
    min-width: none;
    min-height: none;
    width: 400px;
  }
  #media_box {
    padding: 60px 0;
    width: 100%;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation: none;
            animation: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #media_box .table-cell {
    padding: 0;
  }
  #media_box .spotify {
    width: 90%;
    max-width: 400px;
    padding: 30px 0;
    -webkit-transform: none;
            transform: none;
  }
  #media_box .cta {
    display: block;
  }
  #media_box .spotify iframe {
    background: url(../assets/rose.png);
    background-size: 6.66% auto;
    background-position: -2.8% 0;
  }
  #mail_box {
    width: 100%;
    padding: 0 0 40px;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation: none;
            animation: none;
    font-style: italic;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation: none;
            animation: none;
    padding-bottom: 1em;
  }
  footer .table-cell {
    display: block;
  }
  #built_by_us {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  #social_box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0 0 0.5em;
    text-align: center;
    width: 100%;
  }
  #social_box .icon {
    max-width: 20px;
    max-height: 20px;
    margin: 0 5px;
  }
}

.loading * {
  display: none;
}
