html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, arial;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
  letter-spacing: 0.066em;
}

a {
  color: red;
  text-decoration: none;
}

main {
  min-height: 600px;
  padding-top: 100px;
  box-sizing: border-box;
  overflow: hidden;
  height: calc(100% - 60px);
}

.block {
  display: block;
}
.inline {
  display: inline;
}
.table {
  display: table;
}
.inline-table {
  display: inline-table;
}
.table-cell {
  display: table-cell;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}

#cr_logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
  z-index: 1;
}
#cr_logo img {
  width: 90%;
  max-width: 400px;
}

#cr_portrait {
  z-index: 0;
  order: 3;
}
#cr_portrait img {
  width: 90%;
  max-width: 420px;
}

#media_box {
  text-align: center;
  text-transform: uppercase;
  width: 33%;
  font-size: 0.9em;
  order: 1;
  align-self: center;
}

#media_box .table-cell {
  padding: 0 5%;
}

#media_box .spotify {
  max-width: 250px;
  margin: 0 auto;
}
#media_box .spotify img {
  width: 100%;
  margin-bottom: 5px;
}

#mail_box {
  width: 33%;
  order: 2;
  align-self: flex-end;
}
#mailchimp_form {
  vertical-align: bottom;
}
#mailchimp_form form input {
  text-align: center;
  color: red;
  border: 2px solid red;
  box-sizing: border-box;
  padding: 1.33em 0;
  font-size: 1em;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  text-transform: uppercase;
  outline: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: red;
    opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: red;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: red;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red;
}
#mailchimp_form form input[type="submit"] {
  display: none;
  margin: 5px auto 0;
  background: none;
  cursor: pointer;
  transition: all 0.33s ease;
}
#mailchimp_form form input[type="submit"]:hover {
  background: red;
  color: white;
}

footer {
  display: table;
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .table-cell {
  width: 50%;
}

#built_by_us {
  font-size: 0.8em;
  padding-left: 40px;
  text-transform: uppercase;
}

#social_box {
  padding-right: 40px;
}

#social_box .icon {
  width: auto;
  height: auto;
  max-width: 20px;
  max-height: 20px;
  margin: 0 5px;
  fill: red;
}

@media screen and (max-width: 768px) {
  main {
    height: auto;
    display: block!important;
  }
  #cr_logo {
    padding-bottom: 40px;
  }
  #cr_portrait {
    padding-top: 20px;
  }
  #cr_portrait img {
    transform: translate(40px, 0);
  }
  #media_box {
    padding: 60px 0;
    width: 100%;
  }
  #mail_box {
    width: 100%;
    padding-bottom: 40px;
  }
  footer {
    display: flex;
    flex-flow: column;
  }
  footer .table-cell {
    display: block;
  }
  #built_by_us {
    order: 2;
    padding: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  #social_box {
    order: 1;
    padding: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 0.66em;
  }
}
